<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courses</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row m-4">
        <div class="col text-center border border-dark">
            <h1><a href="/" class="text-dark">Course Manager</a></h1>
        </div>
    </div>
    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <a href="teachers" class="btn btn-outline-primary btn-lg">Teachers</a>
        </div>
        <div class="col text-center m-3">
            <a href="students" class="btn btn-outline-primary btn-lg">Students</a>
        </div>
        <div class="col text-center m-3">
            <a href="courses" class="btn btn-outline-primary btn-lg">Courses</a>
        </div>
    </div>

    <!-- Add Course Form -->
    <div class="row m-4 border border-dark">
        <div class="col-3 text-center m-3">
            <span class="h3">Add Course</span>
        </div>
        <div class="col-7 text-center m-3">
            <form action="addCourse" method="POST">
                <div class="form-group row">
                    <label for="name" class="col-3 col-form-label">Name</label>
                    <div class="col-9">
                        <input type="text" name="name" id="name" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-3 col-form-label">Description</label>
                    <div class="col-9">
                        <textarea name="description" id="description" class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="teacherId" class="col-3 col-form-label">Teacher</label>
                    <div class="col-9">
                        <select name="teacherId" id="teacherId" class="form-control">
                            <option th:each="teacher : ${teachers}"
                                    th:value="${teacher.id}"
                                    th:text="${teacher.firstName + ' ' + teacher.lastName}">
                                Teacher Name
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="studentId" class="col-3 col-form-label">Students</label>
                    <div class="col-9">
                        <select name="studentId" id="studentId" class="form-control" multiple>
                            <option th:each="student : ${students}"
                                    th:value="${student.id}"
                                    th:text="${student.firstName + ' ' + student.lastName}">
                                Student Name
                            </option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Add Course</button>
            </form>
        </div>
    </div>

    <!-- Course List Table -->
    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Teacher</th>
                        <th>Details</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="course : ${courses}">
                        <td th:text="${course.id}">Course ID</td>
                        <td th:text="${course.name}">Course Name</td>
                        <td th:text="${course.teacher.firstName + ' ' + course.teacher.lastName}">Teacher Name</td>
                        <td><a th:href="@{/courseDetail(id=${course.id})}">Details</a></td>
                        <td><a th:href="@{/editCourse(id=${course.id})}">Edit</a></td>
                        <td><a th:href="@{/deleteCourse(id=${course.id})}">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>