<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teachers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row m-4">
        <div class="col text-center border border-dark">
            <h1><a href="/" class="text-dark">Course Manager</a></h1>
        </div>
    </div>

    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <a href="teachers" class="btn btn-outline-primary btn-lg">Teachers</a>
        </div>
        <div class="col text-center m-3">
            <a href="students" class="btn btn-outline-primary btn-lg">Students</a>
        </div>
        <div class="col text-center m-3">
            <a href="courses" class="btn btn-outline-primary btn-lg">Courses</a>
        </div>
    </div>

    <div class="row m-4 border border-dark">
        <div class="col-3 text-center m-3">
            <span class="h3">Add Teacher</span>
        </div>
        <div class="col-7 text-center m-3">
            <form action="addTeacher" method="POST">
                <div class="form-group row">
                    <label for="firstName" class="col-3 col-form-label">
                        First Name</label>
                    <div class="col-9">
                        <input type="text" name="firstName" 
                               id="firstName" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lastName" class="col-3 col-form-label">
                        Last Name</label>
                    <div class="col-9">
                        <input type="text" name="lastName" 
                               id="lastName" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="specialty" class="col-3 col-form-label">
                        Specialty</label>
                    <div class="col-9">
                        <input type="text" name="specialty" 
                               id="specialty" class="form-control"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Add Teacher</button>
            </form>
        </div>
    </div>
    
    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Specialty</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="teacher : ${teachers}">
                        <td th:text="${teacher.id}">Teacher ID</td>
                        <td th:text="${teacher.firstName}">Teacher First Name</td>
                        <td th:text="${teacher.lastName}">Teacher Last Name</td>
                        <td th:text="${teacher.specialty}">Teacher Specialty</td>
                        <td><a th:href="@{/editTeacher(id=${teacher.id})}">Edit</a></td>
                        <td><a th:href="@{/deleteTeacher(id=${teacher.id})}">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>